# Analizando dataset existencias ovinas 2008-2020 "SENASA"

## Introducción

Los dataset de este jupyter se obtuvieron de [Datos SENASA](https://www.argentina.gob.ar/senasa/ovinos-sector-primario); y contienen información sobre existencias ovinas dentro del país. 
Son datos totales anuales desde Marzo 2008 a la última actualización, por provincia y partido / departamento, clasificadas por categorías.

No existe documentación que nos dé información sobre el dataset.
Son 4 archivos xlsx:
- existencias_ovinas_por_categoria_y_departamento_2017_20081.xlsx
- existencias_ovinas_por_departamento_marzo_2018.xlsx
- existencias_ovinas_por_departamento_marzo_2019.xlsx
- existencias_ovinas_por_departamento_marzo_2020.xlsx

Lo que se hizo fue convertirlos a todos en archivos csv para trabajarlos mejor, y se desmenuzó el archivo que contiene datos de 2008 a 2017 anualmente. Por lo tanto se obtuvieron 12 archivos csv.

Así que vamos a cargarlos para ver su contenido y empezar el análisis.

## Análisis

### Importamos las librerías de python que necesitamos para analizar el dataset

In [1]:
import pandas as pd

La librería pandas nos ayudará a leer y escribir datos en diferentes formatos, seleccionar y filtrar de manera sencilla tablas de datos en función de posición, valor o etiquetas, a fusionar y unir datos, entre muchas cosas más.

### Acomodando el dataset

Solo existe una columna para depto y provincia, nosotros vamos a necesitar identificar a qué provincia pertenece un depto, asi que vamos a crear un arreglo que contenga las provincias con las características que encontramos en el dataset:

In [2]:
from unidecode import unidecode
provincias = ['Buenos Aires', 'Catamarca', 'Chaco', 'Chubut',
       'Ciudad Autónoma de Buenos Aires', 'Córdoba', 'Corrientes',
       'Entre Ríos', 'Formosa', 'Jujuy', 'La Pampa', 'La Rioja',
       'Mendoza', 'Misiones', 'Neuquén', 'Río Negro', 'Salta', 'San Juan',
       'San Luis', 'Santa Cruz', 'Santa Fe', 'Santiago del Estero',
       'Tierra del Fuego', 'Tucumán']
provincias = [unidecode(x) for x in provincias]
provincias = [x.upper() for x in provincias]

provincias

['BUENOS AIRES',
 'CATAMARCA',
 'CHACO',
 'CHUBUT',
 'CIUDAD AUTONOMA DE BUENOS AIRES',
 'CORDOBA',
 'CORRIENTES',
 'ENTRE RIOS',
 'FORMOSA',
 'JUJUY',
 'LA PAMPA',
 'LA RIOJA',
 'MENDOZA',
 'MISIONES',
 'NEUQUEN',
 'RIO NEGRO',
 'SALTA',
 'SAN JUAN',
 'SAN LUIS',
 'SANTA CRUZ',
 'SANTA FE',
 'SANTIAGO DEL ESTERO',
 'TIERRA DEL FUEGO',
 'TUCUMAN']

El siguiente inconveniente es que existen dos "deptos" que tienen el mismo nombre que sus "provincias":
- Formosa
- Ciudad Autónoma de Buenos Aires

Esto va a dificultar la búsqueda por lo tanto lo que se hizo fue cambiar en los dataset de maner manual la "provincia" Ciudad Autónoma de Buenos Aires por Capital Federal y el depto Formosa por Formosa_d. Ai que vamos a reflejar este cambio en el arreglo creado anteriormente para las provincias:

In [3]:
provincias.insert(1, 'CAPITAL FEDERAL')
del provincias[5]
provincias

['BUENOS AIRES',
 'CAPITAL FEDERAL',
 'CATAMARCA',
 'CHACO',
 'CHUBUT',
 'CORDOBA',
 'CORRIENTES',
 'ENTRE RIOS',
 'FORMOSA',
 'JUJUY',
 'LA PAMPA',
 'LA RIOJA',
 'MENDOZA',
 'MISIONES',
 'NEUQUEN',
 'RIO NEGRO',
 'SALTA',
 'SAN JUAN',
 'SAN LUIS',
 'SANTA CRUZ',
 'SANTA FE',
 'SANTIAGO DEL ESTERO',
 'TIERRA DEL FUEGO',
 'TUCUMAN']

### Cargamos el dataset del 2008 y observamos su contenido

In [4]:
existencias_2008 = pd.read_csv('datos/existencias_ovinas_por_departamento_marzo_2008.csv', sep=",")
existencias_2008

,Provincia/Partido,CARNEROS,OVEJAS,BORREGOS,CAPONES,CORDEROS/AS,TOTAL OVINOS
0,BUENOS AIRES,96623,1231573,114101,45574,238336,1726207
1,AYACUCHO,9615,58613,10743,9582,17351,105904
2,CAMPANA,52,1310,26,-,321,1709
3,ZARATE,86,795,40,39,288,1248
4,PUNTA INDIO,62,4142,211,2,36,4453
...,...,...,...,...,...,...,...
495,CHICLIGASTA,2,15,-,-,-,17
496,LULES,2,9,-,-,2,13
497,YERBA BUENA,2,30,2,-,-,34
498,SAN MIGUEL DE TUCUMAN,-,19,-,-,-,19
499,Total,603403,8898738,2231588,1608096,2646298,15988123

Es un dataset de 500 filas y 7 columnas, será necesario analizarlo en detenimiento para saber si contiene los deptos de Chubut, miremos las columnas que trae:

In [5]:
existencias_2008.columns

Index(['Provincia/Partido', ' CARNEROS', ' OVEJAS', ' BORREGOS', ' CAPONES',
       ' CORDEROS/AS', ' TOTAL OVINOS'],
      dtype='object')

En este dataset no hay datos de la Ciudad Autónoma de Buenos Aires, por lo tanto se va a realizar una copia del arreglo de provincias donde se va quitar esa "provincia" y se va trabajar con esta copia para este año.

In [6]:
provincias_copia = provincias
del provincias_copia[1]
provincias_copia

['BUENOS AIRES',
 'CATAMARCA',
 'CHACO',
 'CHUBUT',
 'CORDOBA',
 'CORRIENTES',
 'ENTRE RIOS',
 'FORMOSA',
 'JUJUY',
 'LA PAMPA',
 'LA RIOJA',
 'MENDOZA',
 'MISIONES',
 'NEUQUEN',
 'RIO NEGRO',
 'SALTA',
 'SAN JUAN',
 'SAN LUIS',
 'SANTA CRUZ',
 'SANTA FE',
 'SANTIAGO DEL ESTERO',
 'TIERRA DEL FUEGO',
 'TUCUMAN']

Para filtrar mejor los datos se creará un dataframe donde existan las columnas provincia y departamento por separado. Y aquellas filas donde las provincias y deptos tengan el mismo nombre representan el total de la provincia. La última fila del data frame representa el total del país (Dice provincia: Tucuman pero seria total). Además se agregaron dos columnas más llamadas *establecimientos* y *unidades_productivas* porque hay dataset que las contienen, y para aquellos que no las contengan sus valores serán Nan.

In [7]:
df_separado_2008 = pd.DataFrame(columns=['anio','provincia', 'departamento', 'carneros', 'ovejas', 'borregos', 'capones', 'corderos_corderas', 'total_ovinos'])
provincia_actual = -1
for i in existencias_2008.index: 
    if existencias_2008['Provincia/Partido'][i] in provincias_copia:
        provincia_actual+=1
        
    df_separado_2008 = df_separado_2008.append({
                                   'anio': 2008,
                                   'provincia': provincias_copia[provincia_actual],
                                   'departamento':existencias_2008['Provincia/Partido'][i], 
                                   'carneros':existencias_2008[' CARNEROS'][i],
                                   'ovejas':existencias_2008[' OVEJAS'][i],
                                   'borregos':existencias_2008[' BORREGOS'][i],
                                   'capones':existencias_2008[' CAPONES'][i],
                                   'corderos_corderas':existencias_2008[' CORDEROS/AS'][i],
                                   'total_ovinos':existencias_2008[' TOTAL OVINOS'][i],
                                  }, 
                                  ignore_index=True)
df_separado_2008

,anio,provincia,departamento,carneros,ovejas,borregos,capones,corderos_corderas,total_ovinos
0,2008,BUENOS AIRES,BUENOS AIRES,96623,1231573,114101,45574,238336,1726207
1,2008,BUENOS AIRES,AYACUCHO,9615,58613,10743,9582,17351,105904
2,2008,BUENOS AIRES,CAMPANA,52,1310,26,-,321,1709
3,2008,BUENOS AIRES,ZARATE,86,795,40,39,288,1248
4,2008,BUENOS AIRES,PUNTA INDIO,62,4142,211,2,36,4453
...,...,...,...,...,...,...,...,...,...
495,2008,TUCUMAN,CHICLIGASTA,2,15,-,-,-,17
496,2008,TUCUMAN,LULES,2,9,-,-,2,13
497,2008,TUCUMAN,YERBA BUENA,2,30,2,-,-,34
498,2008,TUCUMAN,SAN MIGUEL DE TUCUMAN,-,19,-,-,-,19
499,2008,TUCUMAN,Total,603403,8898738,2231588,1608096,2646298,15988123

Una vez identificadas las provincias ahora es mucho más sencillo filtrar por Chubut para obtener las existencias.

In [8]:
resultado_existencias_2008_chubut = pd.DataFrame(columns=['anio','provincia', 'carneros', 'ovejas', 'borregos', 'capones', 'corderos_corderas', 'total_ovinos'])
for i in df_separado_2008.index: 
    if "CHUBUT" == df_separado_2008['provincia'][i]:
         resultado_existencias_2008_chubut = resultado_existencias_2008_chubut.append({
                                       'anio': df_separado_2008['anio'][i],
                                       'provincia': df_separado_2008['provincia'][i],
                                       'departamento':df_separado_2008['departamento'][i],
                                       'carneros':df_separado_2008['carneros'][i],
                                       'ovejas':df_separado_2008['ovejas'][i],
                                       'borregos':df_separado_2008['borregos'][i],
                                       'capones':df_separado_2008['capones'][i],
                                       'corderos_corderas':df_separado_2008['corderos_corderas'][i],
                                       'total_ovinos':df_separado_2008['total_ovinos'][i],}, 
                                      ignore_index=True)
resultado_existencias_2008_chubut

,anio,provincia,carneros,ovejas,borregos,capones,corderos_corderas,total_ovinos,departamento
0,2008,CHUBUT,135075,2160564,885807,931734,766298,4879478,CHUBUT
1,2008,CHUBUT,2256,44272,18756,20551,14559,100394,RAWSON
2,2008,CHUBUT,5292,112497,32493,33649,28886,212817,GAIMAN
3,2008,CHUBUT,13875,164382,79863,63856,48809,370785,FLORENTINO AMEGHINO
4,2008,CHUBUT,9253,153127,68968,65652,42389,339389,PASO DE INDIOS
5,2008,CHUBUT,7388,75160,43779,32683,22104,181114,MARTIRES
6,2008,CHUBUT,14960,221763,107149,126501,109720,580093,TEHUELCHES
7,2008,CHUBUT,8180,149189,41669,51128,37589,287755,CUSHAMEN
8,2008,CHUBUT,7096,160400,53115,74594,89234,384439,LANGUI¥EO
9,2008,CHUBUT,21728,325347,136018,119163,147472,749728,RIO SENGUERR
10,2008,CHUBUT,7756,140502,68341,66391,45572,328562,GASTRE
11,2008,CHUBUT,9052,173966,76783,98535,39250,397586,TELSEN
12,2008,CHUBUT,5639,90494,30119,24634,28237,179123,FUTALEUFU
13,2008,CHUBUT,7686,121561,58576,69633,33876,291332,VIEDMA
14,2008,CHUBUT,7863,109225,35581,40786,41516,234971,ESCALANTE
15,2008,CHUBUT,7051,118679,34597,43978,37085,241390,SARMIENTO

De esta manera se obtuvo las existencias ovinas de Chubut del año 2008 dividas por departamento, guardaremos estos datos en un archivo csv para trabajar con ellos más adelante.

In [9]:
resultado_existencias_2008_chubut.to_csv('datos_producidos/senasa/resultado_existencias_2008_chubut.csv', index=False)

### Generalización para analizar datasets

Vamos a generalizar lo que hicimos antes creando dos funciones

Como se hizo antes para filtrar mejor los datos se creará una función que cree un dataframe donde existan las columnas provincia y departamento por separado. Y aquellas filas donde las provincias y deptos tengan el mismo nombre representan el total de la provincia. La última fila del data frame representa el total del país (Dice provincia: Tucuman pero seria total de Argentina, como no vamos a trabajar con ella no le vamos a dar importancia). Además se agregaron dos columnas más llamadas establecimientos y unidades_productivas porque hay dataset que las contienen, y para aquellos que no las contengan sus valores serán Nan.

In [10]:
def separar_en_provincias(existencias, anio):
    df_separado = pd.DataFrame(columns=[ 'anio',
                                         'provincia', 
                                         'departamento',  
                                         'carneros', 
                                         'ovejas', 
                                         'borregos', 
                                         'capones', 
                                         'corderos_corderas', 
                                         'total_ovinos'])
    provincia_actual = -1
    for i in existencias.index: 
        if existencias['Provincia/Partido'][i] in provincias:
            provincia_actual+=1

        df_separado = df_separado.append({
                                       'anio': anio,
                                       'provincia': provincias[provincia_actual],
                                       'departamento':existencias['Provincia/Partido'][i], 
                                       'carneros':existencias['CARNEROS'][i],
                                       'ovejas':existencias['OVEJAS'][i],
                                       'borregos':existencias['BORREGOS'][i],
                                       'capones':existencias['CAPONES'][i],
                                       'corderos_corderas':existencias['CORDEROS/AS'][i],
                                       'total_ovinos':existencias['TOTAL OVINOS'][i],
                                      }, 
                                      ignore_index=True)
    return df_separado

La siguiente función nos servirá para filtrar las existencias de Chubut, una vez identificadas las provincias.

In [11]:
def filtrar_exitencias_chubut(df_seprado):
    existencias_chubut = pd.DataFrame(columns=['anio',
                                               'provincia', 
                                               'departamento', 
                                               'carneros', 
                                               'ovejas', 
                                               'borregos', 
                                               'capones', 
                                               'corderos_corderas', 
                                               'total_ovinos'])
    for i in df_seprado.index: 
        if "CHUBUT" == df_seprado['provincia'][i]:
             existencias_chubut = existencias_chubut.append({
                                           'anio': df_seprado['anio'][i],
                                           'provincia': df_seprado['provincia'][i],
                                           'departamento':df_seprado['departamento'][i],
                                           'carneros':df_seprado['carneros'][i],
                                           'ovejas':df_seprado['ovejas'][i],
                                           'borregos':df_seprado['borregos'][i],
                                           'capones':df_seprado['capones'][i],
                                           'corderos_corderas':df_seprado['corderos_corderas'][i],
                                           'total_ovinos':df_seprado['total_ovinos'][i],}, 
                                          ignore_index=True)
    return existencias_chubut

Además de las funciones será necesario renombrar las columnas de los dataset cargados porque algunos contienen espacios demás que harían que la función falle. Para eso se va a crear una lista con los nombres de columnas deseados.

In [12]:
columnas = ['Provincia/Partido', 'CARNEROS', 'OVEJAS', 'BORREGOS', 'CAPONES',
       'CORDEROS/AS', 'TOTAL OVINOS']

### Cargamos el dataset del 2009 y observamos su contenido

In [13]:
existencias_2009 = pd.read_csv('datos/existencias_ovinas_por_departamento_marzo_2009.csv', sep=",")
existencias_2009

,Provincia/Partido,CARNEROS,OVEJAS,BORREGOS,CAPONES,CORDEROS/AS,TOTAL OVINOS
0,BUENOS AIRES,96931,1142751,107580,45655,214226,1607143
1,ADOLFO ALSINA,721,11593,981,175,1615,15085
2,ALBERTI,113,1140,-,9,21,1283
3,ALMIRANTE BROWN,14,275,-,-,-,289
4,AMEGHINO,90,1058,118,33,72,1371
...,...,...,...,...,...,...,...
499,TAFI DEL VALLE,420,4520,1017,151,948,7056
500,TAFI VIEJO,73,648,52,3,25,801
501,TRANCAS,192,2437,128,48,233,3038
502,YERBA BUENA,2,30,2,-,-,34
503,Total,586930,8609142,2052680,1566723,2463026,15278501

Es un dataset de 504 filas y 7 columnas, será necesario analizarlo en detenimiento para saber si contiene los deptos de Chubut, miremos las columnas que trae:

In [14]:
existencias_2009.columns

Index(['Provincia/Partido', ' CARNEROS', ' OVEJAS', ' BORREGOS', ' CAPONES',
       ' CORDEROS/AS', ' TOTAL OVINOS'],
      dtype='object')

Lo que se observa es que por el nombre de las columnas los datos son acordes a los que buscamos, pero los nombre de las columnas tienen un detalle: contienen espacios antes de la primer palabra. Para evitar que esto ocasione problemas se las renombrara.

In [15]:
existencias_2009.columns = columnas
existencias_2009.columns

Index(['Provincia/Partido', 'CARNEROS', 'OVEJAS', 'BORREGOS', 'CAPONES',
       'CORDEROS/AS', 'TOTAL OVINOS'],
      dtype='object')

Lo siguiente es utilizar las funciones anteriormente definidas para obtener las existencias ovinas de Chubut del año 2009 divididas por departamento.

In [16]:
df_separado_2009 = separar_en_provincias(existencias_2009, 2009)
resultado_existencias_2009_chubut = filtrar_exitencias_chubut(df_separado_2009)
resultado_existencias_2009_chubut

,anio,provincia,departamento,carneros,ovejas,borregos,capones,corderos_corderas,total_ovinos
0,2009,CHUBUT,CHUBUT,135414,2182913,857329,888470,678003,4742129
1,2009,CHUBUT,CUSHAMEN,7191,130124,30369,31453,44013,243150
2,2009,CHUBUT,ESCALANTE,7706,115049,31613,37919,29499,221786
3,2009,CHUBUT,FLORENTINO AMEGHINO,12056,150454,69972,59835,51674,343991
4,2009,CHUBUT,FUTALEUFU,5155,85752,28633,24140,26350,170030
5,2009,CHUBUT,GAIMAN,5816,123241,31526,33769,29740,224092
6,2009,CHUBUT,GASTRE,7816,147044,65197,70770,33487,324314
7,2009,CHUBUT,LANGUI¥EO,7422,150988,49788,53990,82899,345087
8,2009,CHUBUT,MARTIRES,6705,89223,38382,34714,16621,185645
9,2009,CHUBUT,PASO DE INDIOS,9665,161713,71004,70192,42575,355149
10,2009,CHUBUT,RAWSON,2520,52126,19419,22801,11899,108765
11,2009,CHUBUT,RIO SENGUERR,23858,349639,175695,126080,124871,800143
12,2009,CHUBUT,SARMIENTO,6509,108523,31668,38117,36111,220928
13,2009,CHUBUT,TEHUELCHES,17055,241352,99948,130175,100704,589234
14,2009,CHUBUT,TELSEN,7949,158437,58617,89187,24057,338247
15,2009,CHUBUT,VIEDMA,7991,119248,55498,65328,23503,271568

Por último guardaremos estos datos en un archivo csv para trabajar con ellos más adelante.

In [17]:
resultado_existencias_2009_chubut.to_csv('datos_producidos/senasa/resultado_existencias_2009_chubut.csv', index=False)

### Cargamos el dataset del 2010 y observamos su contenido

In [18]:
existencias_2010 = pd.read_csv('datos/existencias_ovinas_por_departamento_marzo_2010.csv', sep=",")
existencias_2010

,Provincia/Departamento,CARNEROS,OVEJAS,BORREGOS,CAPONES,CORDEROS/AS,TOTAL OVINOS
0,BUENOS AIRES,85926,1088099,94607,36517,204689,1509838
1,ADOLFO ALSINA,619,11016,860,236,1045,13776
2,ALBERTI,118,1050,4,,124,1296
3,ALMIRANTE BROWN,17,272,,,,289
4,AMEGHINO,155,1433,82,15,41,1726
...,...,...,...,...,...,...,...
499,TAFI DEL VALLE,347,4307,930,197,717,6498
500,TAFI VIEJO,57,498,31,3,16,605
501,TRANCAS,121,1872,81,27,132,2233
502,YERBA BUENA,2,30,,,,32
503,Total,564332,8580056,1965516,1487688,2427154,15024746

Es un dataset de 504 filas y 7 columnas, será necesario analizarlo en detenimiento para saber si contiene los deptos de Chubut, miremos las columnas que trae:

In [19]:
existencias_2010.columns

Index(['Provincia/Departamento', '  CARNEROS', '  OVEJAS', '  BORREGOS',
       '  CAPONES', '  CORDEROS/AS', '  TOTAL OVINOS'],
      dtype='object')

Lo que se observa es que por el nombre de las columnas los datos son acordes a los que buscamos, pero los nombre de las columnas tienen un detalle: contienen espacios antes de la primer palabra. Para evitar que esto ocasione problemas se las renombrara.

In [20]:
existencias_2010.columns = columnas
existencias_2010.columns

Index(['Provincia/Partido', 'CARNEROS', 'OVEJAS', 'BORREGOS', 'CAPONES',
       'CORDEROS/AS', 'TOTAL OVINOS'],
      dtype='object')

Lo siguiente es utilizar las funciones anteriormente definidas para obtener las existencias ovinas de Chubut del año 2010 divididas por departamento.

In [21]:
df_separado_2010 = separar_en_provincias(existencias_2010, 2010)
resultado_existencias_2010_chubut = filtrar_exitencias_chubut(df_separado_2010)
resultado_existencias_2010_chubut

,anio,provincia,departamento,carneros,ovejas,borregos,capones,corderos_corderas,total_ovinos
0,2010,CHUBUT,CHUBUT,131249,2202419,777797,879509,612109,4603083
1,2010,CHUBUT,CUSHAMEN,6649,128141,30782,31756,40774,238102
2,2010,CHUBUT,ESCALANTE,6911,103115,29139,41199,39746,220110
3,2010,CHUBUT,FLORENTINO AMEGHINO,11907,169295,65937,60837,42462,350438
4,2010,CHUBUT,FUTALEUFU,5781,91721,30329,24897,21252,173980
5,2010,CHUBUT,GAIMAN,5553,129160,28238,42120,29240,234311
6,2010,CHUBUT,GASTRE,7335,148405,53470,63719,31541,304470
7,2010,CHUBUT,LANGUI¥EO,9310,179649,68180,54826,70734,382699
8,2010,CHUBUT,MARTIRES,6281,101923,30022,30752,18785,187763
9,2010,CHUBUT,PASO DE INDIOS,10084,164352,65580,66501,39919,346436
10,2010,CHUBUT,RAWSON,2132,52746,17783,24333,14075,111069
11,2010,CHUBUT,RIO SENGUERR,22663,338907,151755,135432,105030,753787
12,2010,CHUBUT,SARMIENTO,6518,112088,31817,42015,27872,220310
13,2010,CHUBUT,TEHUELCHES,16062,235053,97593,123094,89000,560802
14,2010,CHUBUT,TELSEN,7307,137395,38403,76175,18263,277543
15,2010,CHUBUT,VIEDMA,6756,110469,38769,61853,23416,241263

Por último guardaremos estos datos en un archivo csv para trabajar con ellos más adelante.

In [22]:
resultado_existencias_2010_chubut.to_csv('datos_producidos/senasa/resultado_existencias_2010_chubut.csv', index=False)

### Cargamos el dataset del 2011 y observamos su contenido

In [23]:
existencias_2011 = pd.read_csv('datos/existencias_ovinas_por_departamento_marzo_2011.csv', sep=",")
existencias_2011

,Provincia/Departamento,CARNEROS,OVEJAS,BORREGOS,CAPONES,CORDEROS/AS,TOTAL OVINOS
0,BUENOS AIRES,91517,1043715,98959,40301,258795,1533287
1,ADOLFO ALSINA,670,10633,849,282,1671,14105
2,ALBERTI,118,1118,5,51,451,1743
3,ALMIRANTE BROWN,13,172,-,-,-,185
4,AMEGHINO,152,1393,58,15,77,1695
...,...,...,...,...,...,...,...
500,TAFI DEL VALLE,387,4475,968,233,900,6963
501,TAFI VIEJO,104,892,33,4,18,1051
502,TRANCAS,158,2273,117,43,241,2832
503,YERBA BUENA,14,39,-,-,-,53
504,Total,576162,8436154,1938866,1417208,2363756,14732146

Es un dataset de 505 filas y 7 columnas, será necesario analizarlo en detenimiento para saber si contiene los deptos de Chubut, miremos las columnas que trae:

In [24]:
existencias_2011.columns

Index(['Provincia/Departamento', '  CARNEROS', '  OVEJAS', '  BORREGOS',
       '  CAPONES', '  CORDEROS/AS', '  TOTAL OVINOS'],
      dtype='object')

Lo que se observa es que por el nombre de las columnas los datos son acordes a los que buscamos, pero los nombre de las columnas tienen un detalle: contienen espacios antes de la primer palabra. Para evitar que esto ocasione problemas se las renombrara.

In [25]:
existencias_2011.columns = columnas
existencias_2011.columns

Index(['Provincia/Partido', 'CARNEROS', 'OVEJAS', 'BORREGOS', 'CAPONES',
       'CORDEROS/AS', 'TOTAL OVINOS'],
      dtype='object')

Lo siguiente es utilizar las funciones anteriormente definidas para obtener las existencias ovinas de Chubut del año 2011 divididas por departamento.

In [26]:
df_separado_2011 = separar_en_provincias(existencias_2011, 2011)
resultado_existencias_2011_chubut = filtrar_exitencias_chubut(df_separado_2011)
resultado_existencias_2011_chubut

,anio,provincia,departamento,carneros,ovejas,borregos,capones,corderos_corderas,total_ovinos
0,2011,CHUBUT,CHUBUT,132272,2119111,762246,844921,580441,4438991
1,2011,CHUBUT,CUSHAMEN,6937,134263,36860,32524,39295,249879
2,2011,CHUBUT,ESCALANTE,6993,97711,31108,37970,36293,210075
3,2011,CHUBUT,FLORENTINO AMEGHINO,11347,153875,60216,58589,38162,322189
4,2011,CHUBUT,FUTALEUFU,5405,94013,33600,22878,27973,183869
5,2011,CHUBUT,GAIMAN,5584,132221,27090,42712,27345,234952
6,2011,CHUBUT,GASTRE,7142,138313,48031,59875,32771,286132
7,2011,CHUBUT,LANGUI¥EO,9005,146047,58757,54040,50261,318110
8,2011,CHUBUT,MARTIRES,6936,102036,30312,30909,18902,189095
9,2011,CHUBUT,PASO DE INDIOS,10475,162623,57581,71825,38175,340679
10,2011,CHUBUT,RAWSON,2165,51998,17953,23373,13380,108869
11,2011,CHUBUT,RIO SENGUERR,24926,348657,160536,146116,105368,785603
12,2011,CHUBUT,SARMIENTO,6318,113645,29595,39374,27014,215946
13,2011,CHUBUT,TEHUELCHES,15804,221365,95119,100380,84103,516771
14,2011,CHUBUT,TELSEN,6926,124528,38959,70018,19568,259999
15,2011,CHUBUT,VIEDMA,6309,97816,36529,54338,21831,216823

Por último guardaremos estos datos en un archivo csv para trabajar con ellos más adelante.

In [27]:
resultado_existencias_2011_chubut.to_csv('datos_producidos/senasa/resultado_existencias_2011_chubut.csv', index=False)

### Cargamos el dataset del 2012 y observamos su contenido

In [28]:
existencias_2012 = pd.read_csv('datos/existencias_ovinas_por_departamento_marzo_2012.csv', sep=",")
existencias_2012

,Provincia/Departamento,Carnero,Oveja,Borrego/a,Capon,Cordero/a,Ovinos
0,BUENOS AIRES,91304,1144417,124521,53895,313958,1728095
1,ADOLFO ALSINA,871,11617,1182,296,2019,15985
2,ALBERTI,115,1212,1,51,412,1791
3,ALMIRANTE BROWN,9,188,,,,197
4,AMEGHINO,157,1685,58,15,87,2002
...,...,...,...,...,...,...,...
526,TAFI DEL VALLE,404,4425,1014,285,1022,7150
527,TAFI VIEJO,95,862,33,3,18,1011
528,TRANCAS,140,1870,101,34,200,2345
529,YERBA BUENA,14,39,,,,53
530,Total,571740,8397582,1900922,1372168,2454491,14696903

Es un dataset de 531 filas y 7 columnas, será necesario analizarlo en detenimiento para saber si contiene los deptos de Chubut, miremos las columnas que trae:

In [29]:
existencias_2012.columns

Index(['Provincia/Departamento', '   Carnero', '   Oveja', '   Borrego/a',
       '   Capon', '   Cordero/a', '   Ovinos'],
      dtype='object')

Lo que se observa es que por el nombre de las columnas los datos son acordes a los que buscamos, pero los nombre de las columnas tienen un detalle: contienen espacios antes de la primer palabra. Para evitar que esto ocasione problemas se las renombrara.

In [30]:
existencias_2012.columns = columnas
existencias_2012.columns

Index(['Provincia/Partido', 'CARNEROS', 'OVEJAS', 'BORREGOS', 'CAPONES',
       'CORDEROS/AS', 'TOTAL OVINOS'],
      dtype='object')

Lo siguiente es utilizar las funciones anteriormente definidas para obtener las existencias ovinas de Chubut del año 2012 divididas por departamento.

In [31]:
df_separado_2012 = separar_en_provincias(existencias_2012, 2012)
resultado_existencias_2012_chubut = filtrar_exitencias_chubut(df_separado_2012)
resultado_existencias_2012_chubut

,anio,provincia,departamento,carneros,ovejas,borregos,capones,corderos_corderas,total_ovinos
0,2012,CHUBUT,CHUBUT,126443,1998999,689806,792843,555331,4163422
1,2012,CHUBUT,CUSHAMEN,6758,126283,35504,27867,30258,226670
2,2012,CHUBUT,ESCALANTE,7159,90741,30302,36071,36469,200742
3,2012,CHUBUT,FLORENTINO AMEGHINO,10531,142512,56336,49490,52955,311824
4,2012,CHUBUT,FUTALEUFU,5713,91189,32426,23200,27788,180316
5,2012,CHUBUT,GAIMAN,5977,123977,20057,45528,23647,219186
6,2012,CHUBUT,GASTRE,7183,129262,46412,56339,23340,262536
7,2012,CHUBUT,LANGUI¥EO,8550,141153,52659,54014,45432,301808
8,2012,CHUBUT,MARTIRES,5381,90578,23501,31523,10211,161194
9,2012,CHUBUT,PASO DE INDIOS,8980,150846,37809,64028,32809,294472
10,2012,CHUBUT,RAWSON,2263,53025,15448,22120,11071,103927
11,2012,CHUBUT,RIO SENGUERR,25366,365526,159817,139353,140285,830347
12,2012,CHUBUT,SARMIENTO,6400,100390,29363,34584,24672,195409
13,2012,CHUBUT,TEHUELCHES,14493,195434,91941,98158,66160,466186
14,2012,CHUBUT,TELSEN,5904,104705,28063,62121,14163,214956
15,2012,CHUBUT,VIEDMA,5785,93378,30168,48447,16071,193849

Por último guardaremos estos datos en un archivo csv para trabajar con ellos más adelante.

In [32]:
resultado_existencias_2012_chubut.to_csv('datos_producidos/senasa/resultado_existencias_2012_chubut.csv', index=False)

### Cargamos el dataset del 2013 y observamos su contenido

In [33]:
existencias_2013 = pd.read_csv('datos/existencias_ovinas_por_departamento_marzo_2013.csv', sep=",")
existencias_2013

,Provincia/Departamento,Carnero,Oveja,Borrego/a,Capon,Cordero/a,Ovinos
0,BUENOS AIRES,89675,1212290,132867,60615,343367,1838814
1,ADOLFO ALSINA,836,11951,1752,371,2858,17768
2,ALBERTI,127,1316,1,42,498,1984
3,ALMIRANTE BROWN,9,141,4,,,154
4,AMEGHINO,178,1960,52,15,91,2296
...,...,...,...,...,...,...,...
502,TAFI DEL VALLE,367,4212,1014,249,878,6720
503,TAFI VIEJO,99,869,33,4,18,1023
504,TRANCAS,140,1842,97,34,193,2306
505,YERBA BUENA,11,31,,,,42
506,Total,585831,8325029,1887544,1312906,2463579,14574889

Es un dataset de 507 filas y 7 columnas, será necesario analizarlo en detenimiento para saber si contiene los deptos de Chubut, miremos las columnas que trae:

In [34]:
existencias_2013.columns

Index(['Provincia/Departamento', '   Carnero', '   Oveja', '   Borrego/a',
       '   Capon', '   Cordero/a', '   Ovinos'],
      dtype='object')

Lo que se observa es que por el nombre de las columnas los datos son acordes a los que buscamos, pero los nombre de las columnas tienen un detalle: contienen espacios antes de la primer palabra. Para evitar que esto ocasione problemas se las renombrara.

In [35]:
existencias_2013.columns = columnas
existencias_2013.columns

Index(['Provincia/Partido', 'CARNEROS', 'OVEJAS', 'BORREGOS', 'CAPONES',
       'CORDEROS/AS', 'TOTAL OVINOS'],
      dtype='object')

Lo siguiente es utilizar las funciones anteriormente definidas para obtener las existencias ovinas de Chubut del año 2013 divididas por departamento.

In [36]:
df_separado_2013 = separar_en_provincias(existencias_2013, 2013)
resultado_existencias_2013_chubut = filtrar_exitencias_chubut(df_separado_2013)
resultado_existencias_2013_chubut

,anio,provincia,departamento,carneros,ovejas,borregos,capones,corderos_corderas,total_ovinos
0,2013,CHUBUT,CHUBUT,133292,1967599,649453,725939,555396,4031679
1,2013,CHUBUT,BIEDMA,5376,82998,25341,47350,26832,187897
2,2013,CHUBUT,CUSHAMEN,12516,125655,31127,22615,33934,225847
3,2013,CHUBUT,ESCALANTE,9153,97660,30550,38523,28023,203909
4,2013,CHUBUT,FLORENTINO AMEGHINO,9623,131947,59697,42035,41337,284639
5,2013,CHUBUT,FUTALEUFU,5210,89861,32255,21340,25789,174455
6,2013,CHUBUT,GAIMAN,5802,138573,20059,45098,20514,230046
7,2013,CHUBUT,GASTRE,7568,115666,42937,53335,24395,243901
8,2013,CHUBUT,LANGUIÑEO,8875,130228,45552,42406,21887,248948
9,2013,CHUBUT,MARTIRES,5489,88395,22760,28779,14587,160010
10,2013,CHUBUT,PASO DE INDIOS,8339,143441,36190,59153,28510,275633
11,2013,CHUBUT,RAWSON,2773,57599,14701,21929,15736,112738
12,2013,CHUBUT,RIO SENGUERR,25403,384024,144490,136655,143717,834289
13,2013,CHUBUT,SARMIENTO,6978,102420,31288,33644,27841,202171
14,2013,CHUBUT,TEHUELCHES,14577,187946,88690,80677,85841,457731
15,2013,CHUBUT,TELSEN,5610,91186,23816,52400,16453,189465
16,2013,CHUBUT,CAPITAL FEDERAL,7,45,87,4,,143
17,2013,CHUBUT,CIUDAD AUTONOMA DE BUENOS AIRES,7,45,87,4,,143

Por último guardaremos estos datos en un archivo csv para trabajar con ellos más adelante.

In [37]:
resultado_existencias_2013_chubut.to_csv('datos_producidos/senasa/resultado_existencias_2013_chubut.csv', index=False)

### Cargamos el dataset del 2014 y observamos su contenido

In [38]:
existencias_2014 = pd.read_csv('datos/existencias_ovinas_por_departamento_marzo_2014.csv', sep=",")
existencias_2014

,Provincia/Departamento,CARNEROS,OVEJAS,BORREGOS,CAPONES,CORDEROS/AS,TOTAL OVINOS
0,BUENOS AIRES,84738,1207240,138449,57843,355912,1844182
1,ADOLFO ALSINA,856,12504,1537,351,2941,18189
2,ALBERTI,137,1223,1,51,514,1926
3,ALMIRANTE BROWN,7,149,4,,,160
4,AMEGHINO,180,2042,52,15,91,2380
...,...,...,...,...,...,...,...
504,TAFI DEL VALLE,401,4719,1659,268,1069,8116
505,TAFI VIEJO,102,872,53,7,28,1062
506,TRANCAS,151,1972,117,43,267,2550
507,YERBA BUENA,11,31,,,,42
508,Total,581433,8214688,1883954,1290437,2563186,14533698

Es un dataset de 509 filas y 7 columnas, será necesario analizarlo en detenimiento para saber si contiene los deptos de Chubut, miremos las columnas que trae:

In [39]:
existencias_2014.columns

Index(['Provincia/Departamento', ' CARNEROS', ' OVEJAS', ' BORREGOS',
       ' CAPONES', ' CORDEROS/AS', ' TOTAL OVINOS'],
      dtype='object')

Lo que se observa es que por el nombre de las columnas los datos son acordes a los que buscamos, pero los nombre de las columnas tienen un detalle: contienen espacios antes de la primer palabra. Para evitar que esto ocasione problemas se las renombrara.

In [40]:
existencias_2014.columns = columnas
existencias_2014.columns

Index(['Provincia/Partido', 'CARNEROS', 'OVEJAS', 'BORREGOS', 'CAPONES',
       'CORDEROS/AS', 'TOTAL OVINOS'],
      dtype='object')

Lo siguiente es utilizar las funciones anteriormente definidas para obtener las existencias ovinas de Chubut del año 2014 divididas por departamento.

In [41]:
df_separado_2014 = separar_en_provincias(existencias_2014, 2014)
resultado_existencias_2014_chubut = filtrar_exitencias_chubut(df_separado_2014)
resultado_existencias_2014_chubut

,anio,provincia,departamento,carneros,ovejas,borregos,capones,corderos_corderas,total_ovinos
0,2014,CHUBUT,CHUBUT,128053,1941873,643744,701889,608489,4024048
1,2014,CHUBUT,CUSHAMEN,6525,120803,33531,29759,40184,230802
2,2014,CHUBUT,ESCALANTE,8435,91157,30847,39547,32422,202408
3,2014,CHUBUT,FLORENTINO AMEGHINO,9623,128662,54128,39480,50249,282142
4,2014,CHUBUT,FUTALEUFU,5126,85641,26607,20764,26403,164541
5,2014,CHUBUT,GAIMAN,7647,143403,21683,44605,27900,245238
6,2014,CHUBUT,GASTRE,7077,104867,40127,49703,30458,232232
7,2014,CHUBUT,LANGUI¥EO,7649,145930,43258,45030,43245,285112
8,2014,CHUBUT,MARTIRES,5694,83628,25610,27084,18243,160259
9,2014,CHUBUT,PASO DE INDIOS,8820,136765,38061,52569,29853,266068
10,2014,CHUBUT,RAWSON,3051,61699,15436,22215,18436,120837
11,2014,CHUBUT,RIO SENGUERR,25282,384360,139502,131200,132538,812882
12,2014,CHUBUT,SARMIENTO,7348,106471,31146,34529,30598,210092
13,2014,CHUBUT,TEHUELCHES,15833,181194,89063,82015,80224,448329
14,2014,CHUBUT,TELSEN,5158,84587,25366,48234,17836,181181
15,2014,CHUBUT,VIEDMA,4785,82706,29379,35155,29900,181925

Por último guardaremos estos datos en un archivo csv para trabajar con ellos más adelante.

In [42]:
resultado_existencias_2014_chubut.to_csv('datos_producidos/senasa/resultado_existencias_2014_chubut.csv', index=False)

### Cargamos el dataset del 2015 y observamos su contenido

In [43]:
existencias_2015 = pd.read_csv('datos/existencias_ovinas_por_departamento_marzo_2015.csv', sep=",")
existencias_2015

,Provincia/Departamento,CARNEROS,OVEJAS,BORREGOS,CAPONES,CORDEROS/AS,TOTAL OVINOS
0,BUENOS AIRES,83683,1232714,142024,57472,373336,1889229
1,ADOLFO ALSINA,814,12268,1635,351,3026,18094
2,ALBERTI,135,1128,1,51,540,1855
3,ALMIRANTE BROWN,9,135,4,,,148
4,AMEGHINO,189,2065,77,15,93,2439
...,...,...,...,...,...,...,...
505,TAFI DEL VALLE,420,4532,1206,291,1180,7629
506,TAFI VIEJO,122,1026,97,13,78,1336
507,TRANCAS,197,2190,276,77,410,3150
508,YERBA BUENA,11,31,,,,42
509,Total,606227,8499019,1926727,1267144,2560369,14859486

Es un dataset de 510 filas y 7 columnas, será necesario analizarlo en detenimiento para saber si contiene los deptos de Chubut, miremos las columnas que trae:

In [44]:
existencias_2015.columns

Index(['Provincia/Departamento', ' CARNEROS', ' OVEJAS', ' BORREGOS',
       ' CAPONES', ' CORDEROS/AS', ' TOTAL OVINOS'],
      dtype='object')

Lo que se observa es que por el nombre de las columnas los datos son acordes a los que buscamos, pero los nombre de las columnas tienen un detalle: contienen espacios antes de la primer palabra. Para evitar que esto ocasione problemas se las renombrara.

In [45]:
existencias_2015.columns = columnas
existencias_2015.columns

Index(['Provincia/Partido', 'CARNEROS', 'OVEJAS', 'BORREGOS', 'CAPONES',
       'CORDEROS/AS', 'TOTAL OVINOS'],
      dtype='object')

Lo siguiente es utilizar las funciones anteriormente definidas para obtener las existencias ovinas de Chubut del año 2015 divididas por departamento.

In [46]:
df_separado_2015 = separar_en_provincias(existencias_2015, 2015)
resultado_existencias_2015_chubut = filtrar_exitencias_chubut(df_separado_2015)
resultado_existencias_2015_chubut

,anio,provincia,departamento,carneros,ovejas,borregos,capones,corderos_corderas,total_ovinos
0,2015,CHUBUT,CHUBUT,131095,1939450,637096,694326,600189,4002156
1,2015,CHUBUT,CUSHAMEN,5764,115205,30865,26410,36446,214690
2,2015,CHUBUT,ESCALANTE,6699,85329,31991,37533,25581,187133
3,2015,CHUBUT,FLORENTINO AMEGHINO,12635,145253,52847,46691,46046,303472
4,2015,CHUBUT,FUTALEUFU,5218,86528,23929,19766,25085,160526
5,2015,CHUBUT,GAIMAN,8503,161928,25067,44956,28410,268864
6,2015,CHUBUT,GASTRE,6059,100048,38465,47449,26759,218780
7,2015,CHUBUT,LANGUI¥EO,9928,116399,44518,44570,42894,258309
8,2015,CHUBUT,MARTIRES,5628,88899,27039,26984,17985,166535
9,2015,CHUBUT,PASO DE INDIOS,9418,135182,40238,52997,25057,262892
10,2015,CHUBUT,RAWSON,3308,64914,14568,22110,20932,125832
11,2015,CHUBUT,RIO SENGUERR,24115,373103,140325,126419,127228,791190
12,2015,CHUBUT,SARMIENTO,7298,105229,30923,35616,36312,215378
13,2015,CHUBUT,TEHUELCHES,17316,190599,82015,84630,87834,462394
14,2015,CHUBUT,TELSEN,4766,81572,24643,42758,21277,175016
15,2015,CHUBUT,VIEDMA,4440,89262,29663,35437,32343,191145

Por último guardaremos estos datos en un archivo csv para trabajar con ellos más adelante.

In [47]:
resultado_existencias_2015_chubut.to_csv('datos_producidos/senasa/resultado_existencias_2015_chubut.csv', index=False)

### Cargamos el dataset del 2016 y observamos su contenido

In [48]:
existencias_2016 = pd.read_csv('datos/existencias_ovinas_por_departamento_marzo_2016.csv', sep=",")
existencias_2016

,Provincia/Departamento,CARNEROS,OVEJAS,BORREGOS,CAPONES,CORDEROS/AS,TOTAL OVINOS
0,BUENOS AIRES,83047,1270657,148745,58681,382607,1943737
1,ADOLFO ALSINA,759,11743,1746,306,3512,18066
2,ALBERTI,124,1189,1,51,513,1878
3,ALMIRANTE BROWN,8,145,4,,130,287
4,AMEGHINO,189,2188,76,15,93,2561
...,...,...,...,...,...,...,...
506,TAFI DEL VALLE,470,5255,1332,321,1260,8638
507,TAFI VIEJO,122,1189,193,33,143,1680
508,TRANCAS,196,2147,281,103,454,3181
509,YERBA BUENA,1,2,,,,3
510,Total,573235,8420305,1988929,1296240,2585612,14864321

Es un dataset de 511 filas y 7 columnas, será necesario analizarlo en detenimiento para saber si contiene los deptos de Chubut, miremos las columnas que trae:

In [49]:
existencias_2016.columns

Index(['Provincia/Departamento', ' CARNEROS', ' OVEJAS', ' BORREGOS',
       ' CAPONES', ' CORDEROS/AS', ' TOTAL OVINOS'],
      dtype='object')

Lo que se observa es que por el nombre de las columnas los datos son acordes a los que buscamos, pero los nombre de las columnas tienen un detalle: contienen espacios antes de la primer palabra. Para evitar que esto ocasione problemas se las renombrara.

In [50]:
existencias_2016.columns = columnas
existencias_2016.columns

Index(['Provincia/Partido', 'CARNEROS', 'OVEJAS', 'BORREGOS', 'CAPONES',
       'CORDEROS/AS', 'TOTAL OVINOS'],
      dtype='object')

Lo siguiente es utilizar las funciones anteriormente definidas para obtener las existencias ovinas de Chubut del año 2016 divididas por departamento.

In [51]:
df_separado_2016 = separar_en_provincias(existencias_2016, 2016)
resultado_existencias_2016_chubut = filtrar_exitencias_chubut(df_separado_2016)
resultado_existencias_2016_chubut

,anio,provincia,departamento,carneros,ovejas,borregos,capones,corderos_corderas,total_ovinos
0,2016,CHUBUT,CHUBUT,130635,1947672,658063,703023,554340,3993733
1,2016,CHUBUT,CUSHAMEN,5920,113136,30649,28942,46037,224684
2,2016,CHUBUT,ESCALANTE,6834,89014,33000,42032,32902,203782
3,2016,CHUBUT,FLORENTINO AMEGHINO,11974,159866,63418,47987,25964,309209
4,2016,CHUBUT,FUTALEUFU,4568,77084,23247,15616,17473,137988
5,2016,CHUBUT,GAIMAN,8368,166144,27932,47610,33646,283700
6,2016,CHUBUT,GASTRE,6374,104994,40322,47036,28354,227080
7,2016,CHUBUT,LANGUI¥EO,7588,112547,47178,49593,17445,234351
8,2016,CHUBUT,MARTIRES,5529,89598,31956,26627,15073,168783
9,2016,CHUBUT,PASO DE INDIOS,9181,129835,43632,50592,26582,259822
10,2016,CHUBUT,RAWSON,3672,66374,17693,21512,19079,128330
11,2016,CHUBUT,RIO SENGUERR,26957,368581,131766,122579,134887,784770
12,2016,CHUBUT,SARMIENTO,7249,107299,29077,37383,30378,211386
13,2016,CHUBUT,TEHUELCHES,17073,200643,78060,92801,84904,473481
14,2016,CHUBUT,TELSEN,4896,80262,26471,39243,20290,171162
15,2016,CHUBUT,VIEDMA,4452,82295,33662,33470,21326,175205

Por último guardaremos estos datos en un archivo csv para trabajar con ellos más adelante.

In [52]:
resultado_existencias_2016_chubut.to_csv('datos_producidos/senasa/resultado_existencias_2016_chubut.csv', index=False)

### Cargamos el dataset del 2017 y observamos su contenido

In [53]:
existencias_2017 = pd.read_csv('datos/existencias_ovinas_por_departamento_marzo_2017.csv', sep=",")
existencias_2017

,Provincia/Departamento,CARNEROS,OVEJAS,BORREGOS,CAPONES,CORDEROS/AS,TOTAL OVINOS
0,BUENOS AIRES,85279,1304142,146093,58877,402816,1997207
1,ADOLFO ALSINA,739,11733,1782,306,3504,18064
2,ALBERTI,132,1406,1,51,547,2137
3,ALMIRANTE BROWN,7,136,4,,130,277
4,AMEGHINO,210,2279,79,15,93,2676
...,...,...,...,...,...,...,...
506,TAFI DEL VALLE,473,5491,1253,347,1359,8923
507,TAFI VIEJO,114,1217,176,45,188,1740
508,TRANCAS,215,2548,316,127,486,3692
509,YERBA BUENA,1,2,,,,3
510,Total,567391,8371694,1986130,1260896,2560455,14746566

Es un dataset de 511 filas y 7 columnas, será necesario analizarlo en detenimiento para saber si contiene los deptos de Chubut, miremos las columnas que trae:

In [54]:
existencias_2017.columns

Index(['Provincia/Departamento', ' CARNEROS', ' OVEJAS', ' BORREGOS',
       ' CAPONES', ' CORDEROS/AS', ' TOTAL OVINOS'],
      dtype='object')

Lo que se observa es que por el nombre de las columnas los datos son acordes a los que buscamos, pero los nombre de las columnas tienen un detalle: contienen espacios antes de la primer palabra. Para evitar que esto ocasione problemas se las renombrara.

In [55]:
existencias_2017.columns = columnas
existencias_2017.columns

Index(['Provincia/Partido', 'CARNEROS', 'OVEJAS', 'BORREGOS', 'CAPONES',
       'CORDEROS/AS', 'TOTAL OVINOS'],
      dtype='object')

Lo siguiente es utilizar las funciones anteriormente definidas para obtener las existencias ovinas de Chubut del año 2017 divididas por departamento.

In [56]:
df_separado_2017 = separar_en_provincias(existencias_2017, 2017)
resultado_existencias_2017_chubut = filtrar_exitencias_chubut(df_separado_2017)
resultado_existencias_2017_chubut

,anio,provincia,departamento,carneros,ovejas,borregos,capones,corderos_corderas,total_ovinos
0,2017,CHUBUT,CHUBUT,124046,1917298,652423,672122,606862,3972751
1,2017,CHUBUT,CUSHAMEN,5198,106723,31589,28842,46907,219259
2,2017,CHUBUT,ESCALANTE,7650,87939,29194,36140,24834,185757
3,2017,CHUBUT,FLORENTINO AMEGHINO,12216,157416,59969,46044,52072,327717
4,2017,CHUBUT,FUTALEUFU,4313,74028,24502,15556,16234,134633
5,2017,CHUBUT,GAIMAN,8272,170790,28217,47586,37463,292328
6,2017,CHUBUT,GASTRE,6122,96368,37424,43738,29309,212961
7,2017,CHUBUT,LANGUI¥EO,6650,103552,38645,40482,40508,229837
8,2017,CHUBUT,MARTIRES,5150,88323,32027,24563,14832,164895
9,2017,CHUBUT,PASO DE INDIOS,7789,128838,43440,53838,30833,264738
10,2017,CHUBUT,RAWSON,4146,69722,19404,20173,19231,132676
11,2017,CHUBUT,RIO SENGUERR,24665,369734,134929,122073,140185,791586
12,2017,CHUBUT,SARMIENTO,5892,91496,22810,33128,22739,176065
13,2017,CHUBUT,TEHUELCHES,16655,207634,89829,89442,93065,496625
14,2017,CHUBUT,TELSEN,4640,77556,27296,36570,17750,163812
15,2017,CHUBUT,VIEDMA,4688,87179,33148,33947,20900,179862

Por último guardaremos estos datos en un archivo csv para trabajar con ellos más adelante.

In [57]:
resultado_existencias_2017_chubut.to_csv('datos_producidos/senasa/resultado_existencias_2017_chubut.csv', index=False)

### Cargamos el dataset del 2018 y observamos su contenido

In [58]:
existencias_2018 = pd.read_csv('datos/existencias_ovinas_por_departamento_marzo_2018.csv', sep=",")
existencias_2018

,Provincia/Departamento,CARNEROS,OVEJAS,BORREGOS,CAPONES,CORDEROS/AS,TOTAL OVINOS
0,BUENOS AIRES,87282,1324290,146833,59627,401982,2020014
1,ADOLFO ALSINA,778,11907,1832,311,3548,18376
2,ALBERTI,140,1473,1,51,621,2286
3,ALMIRANTE BROWN,9,227,23,,130,389
4,AMEGHINO,246,2258,79,15,95,2693
...,...,...,...,...,...,...,...
509,TAFI DEL VALLE,494,5471,1297,399,1549,9210
510,TAFI VIEJO,112,1177,171,46,199,1705
511,TRANCAS,229,2603,405,171,505,3913
512,YERBA BUENA,2,3,,,3,8
513,Total,551077,8153999,1885998,1217169,2531665,14339908

Es un dataset de 514 filas y 7 columnas, será necesario analizarlo en detenimiento para saber si contiene los deptos de Chubut, miremos las columnas que trae:

In [59]:
existencias_2018.columns

Index(['Provincia/Departamento', ' CARNEROS', ' OVEJAS', ' BORREGOS',
       ' CAPONES', ' CORDEROS/AS', ' TOTAL OVINOS'],
      dtype='object')

Lo que se observa es que por el nombre de las columnas los datos son acordes a los que buscamos, pero los nombre de las columnas tienen un detalle: contienen espacios antes de la primer palabra. Para evitar que esto ocasione problemas se las renombrara.

In [60]:
existencias_2018.columns = columnas
existencias_2018.columns

Index(['Provincia/Partido', 'CARNEROS', 'OVEJAS', 'BORREGOS', 'CAPONES',
       'CORDEROS/AS', 'TOTAL OVINOS'],
      dtype='object')

Lo siguiente es utilizar las funciones anteriormente definidas para obtener las existencias ovinas de Chubut del año 2018 divididas por departamento.

In [61]:
df_separado_2018 = separar_en_provincias(existencias_2018, 2018)
resultado_existencias_2018_chubut = filtrar_exitencias_chubut(df_separado_2018)
resultado_existencias_2018_chubut

,anio,provincia,departamento,carneros,ovejas,borregos,capones,corderos_corderas,total_ovinos
0,2018,CHUBUT,CHUBUT,120807,1929004,643675,656187,595247,3944920
1,2018,CHUBUT,CUSHAMEN,6510,114304,33488,29440,46476,230218
2,2018,CHUBUT,ESCALANTE,6943,87141,29811,33749,39510,197154
3,2018,CHUBUT,FLORENTINO AMEGHINO,11465,152819,61672,43911,46348,316215
4,2018,CHUBUT,FUTALEUFU,4096,68134,22201,13799,16000,124230
5,2018,CHUBUT,GAIMAN,7991,178598,27915,46278,38481,299263
6,2018,CHUBUT,GASTRE,6499,102714,39417,43561,35386,227577
7,2018,CHUBUT,LANGUI¥EO,6411,107526,43471,36192,20992,214592
8,2018,CHUBUT,MARTIRES,5662,90476,30854,22658,19385,169035
9,2018,CHUBUT,PASO DE INDIOS,8198,128880,47244,57146,32537,274005
10,2018,CHUBUT,RAWSON,3558,68936,20065,19143,21294,132996
11,2018,CHUBUT,RIO SENGUERR,22376,374068,120941,121585,129376,768346
12,2018,CHUBUT,SARMIENTO,5494,90067,22437,31258,26686,175942
13,2018,CHUBUT,TEHUELCHES,16005,199751,79560,88562,78554,462432
14,2018,CHUBUT,TELSEN,4832,79117,28366,37558,21933,171806
15,2018,CHUBUT,VIEDMA,4767,86473,36233,31347,22289,181109

Por último guardaremos estos datos en un archivo csv para trabajar con ellos más adelante.

In [62]:
resultado_existencias_2018_chubut.to_csv('datos_producidos/senasa/resultado_existencias_2018_chubut.csv', index=False)

### Cargamos el dataset del 2019 y observamos su contenido

In [63]:
existencias_2019 = pd.read_csv('datos/existencias_ovinas_por_departamento_marzo_2019.csv', sep=",")
existencias_2019

,Provincia/Departamento,CARNEROS,OVEJAS,BORREGOS,CAPONES,CORDEROS/AS,TOTAL OVINOS
0,BUENOS AIRES,87855,1351731,154330,61672,423245,2078833
1,ADOLFO ALSINA,655,10845,1660,306,3166,16632
2,ALBERTI,139,1393,1,51,666,2250
3,ALMIRANTE BROWN,9,224,28,,136,397
4,AMEGHINO,174,2154,79,15,96,2518
...,...,...,...,...,...,...,...
509,TAFI DEL VALLE,508,5291,1302,440,1570,9111
510,TAFI VIEJO,109,1186,170,42,210,1717
511,TRANCAS,241,2796,461,175,521,4194
512,YERBA BUENA,2,3,,,3,8
513,Total,560417,8302740,2039408,1296183,2575448,14774196

Es un dataset de 514 filas y 7 columnas, será necesario analizarlo en detenimiento para saber si contiene los deptos de Chubut, miremos las columnas que trae:

In [64]:
existencias_2019.columns

Index(['Provincia/Departamento', ' CARNEROS', ' OVEJAS', ' BORREGOS',
       ' CAPONES', ' CORDEROS/AS', ' TOTAL OVINOS'],
      dtype='object')

Lo que se observa es que por el nombre de las columnas los datos son acordes a los que buscamos, pero los nombre de las columnas tienen un detalle: contienen espacios antes de la primer palabra. Para evitar que esto ocasione problemas se las renombrara.

In [65]:
existencias_2019.columns = columnas
existencias_2019.columns

Index(['Provincia/Partido', 'CARNEROS', 'OVEJAS', 'BORREGOS', 'CAPONES',
       'CORDEROS/AS', 'TOTAL OVINOS'],
      dtype='object')

Lo siguiente es utilizar las funciones anteriormente definidas para obtener las existencias ovinas de Chubut del año 2019 divididas por departamento.

In [66]:
df_separado_2019 = separar_en_provincias(existencias_2019, 2019)
resultado_existencias_2019_chubut = filtrar_exitencias_chubut(df_separado_2019)
resultado_existencias_2019_chubut

,anio,provincia,departamento,carneros,ovejas,borregos,capones,corderos_corderas,total_ovinos
0,2019,CHUBUT,CHUBUT,127625,1996422,681206,673858,597226,4076337
1,2019,CHUBUT,BIEDMA,4887,84400,31784,34032,23424,178527
2,2019,CHUBUT,CUSHAMEN,8292,124242,32843,28734,43428,237539
3,2019,CHUBUT,ESCALANTE,7040,96309,28636,36375,39591,207951
4,2019,CHUBUT,FLORENTINO AMEGHINO,12092,163230,66071,47475,40992,329860
5,2019,CHUBUT,FUTALEUFU,3956,64916,20087,12651,16165,117775
6,2019,CHUBUT,GAIMAN,8309,193501,29047,48760,45825,325442
7,2019,CHUBUT,GASTRE,6797,105531,40287,44725,34228,231568
8,2019,CHUBUT,LANGUIÑEO,5879,102562,38569,39746,41717,228473
9,2019,CHUBUT,MARTIRES,5781,91491,35610,24758,18565,176205
10,2019,CHUBUT,PASO DE INDIOS,9109,135988,53921,56329,28341,283688
11,2019,CHUBUT,RAWSON,3628,74009,19514,20800,18895,136846
12,2019,CHUBUT,RIO SENGUERR,25733,384841,138981,122343,125892,797790
13,2019,CHUBUT,SARMIENTO,6077,99175,28287,31325,28339,193203
14,2019,CHUBUT,TEHUELCHES,15264,196118,89141,87696,74093,462312
15,2019,CHUBUT,TELSEN,4781,80109,28428,38109,17731,169158

Por último guardaremos estos datos en un archivo csv para trabajar con ellos más adelante.

In [67]:
resultado_existencias_2019_chubut.to_csv('datos_producidos/senasa/resultado_existencias_2019_chubut.csv', index=False)

### Cargamos el dataset del 2020 y observamos su contenido

In [68]:
existencias_2020 = pd.read_csv('datos/existencias_ovinas_por_departamento_marzo_2020.csv', sep=",")
existencias_2020

,Provincia/Departamento,ESTABLECIMIENTOS,UNIDADES PRODUCTIVAS,CARNEROS,OVEJAS,BORREGOS,CAPONES,CORDEROS/AS,TOTAL OVINOS
0,BUENOS AIRES,25152,28912,55651,1401711,158349,63462,443369,2122542
1,ADOLFO ALSINA,260,275,446,10725,1672,369,3875,17087
2,ALBERTI,112,118,86,1508,12,51,801,2458
3,ALMIRANTE BROWN,13,14,6,226,22,-,138,392
4,AMEGHINO,87,106,158,2448,103,15,133,2857
...,...,...,...,...,...,...,...,...,...
511,TAFI DEL VALLE,89,260,302,5426,1295,464,1848,9335
512,TAFI VIEJO,43,66,79,1077,176,51,234,1617
513,TRANCAS,126,169,164,2814,507,198,581,4264
514,YERBA BUENA,2,2,2,3,-,-,3,8
515,Total,98130,134205,355037,8365934,2009054,1248913,2592828,14571766

Es un dataset de 516 filas y 9 columnas, será necesario analizarlo en detenimiento para saber si contiene los deptos de Chubut.

In [69]:
existencias_2020.columns

Index(['Provincia/Departamento', 'ESTABLECIMIENTOS', 'UNIDADES PRODUCTIVAS',
       ' CARNEROS', ' OVEJAS', ' BORREGOS', ' CAPONES', ' CORDEROS/AS',
       ' TOTAL OVINOS'],
      dtype='object')

Dado que la cantidad de columnas es diferente a lo que veniamos trabajando, se va a redinifir la variable columnas.

In [70]:
columnas = ['Provincia/Partido', 'ESTABLECIMIENTOS', 'UNIDADES PRODUCTIVAS', 'CARNEROS', 'OVEJAS', 'BORREGOS', 'CAPONES',
       'CORDEROS/AS', 'TOTAL OVINOS']

Lo que se observa es que por el nombre de las columnas los datos son acordes a los que buscamos, pero los nombre de las columnas tienen un detalle: contienen espacios antes de la primer palabra. Para evitar que esto ocasione problemas se las renombrara.

In [71]:
existencias_2020.columns = columnas
existencias_2020.columns

Index(['Provincia/Partido', 'ESTABLECIMIENTOS', 'UNIDADES PRODUCTIVAS',
       'CARNEROS', 'OVEJAS', 'BORREGOS', 'CAPONES', 'CORDEROS/AS',
       'TOTAL OVINOS'],
      dtype='object')

Lo siguiente es utilizar las funciones anteriormente definidas para obtener las existencias ovinas de Chubut del año 2020 divididas por departamento.

In [72]:
df_separado_2020 = separar_en_provincias(existencias_2020, 2020)
resultado_existencias_2020_chubut = filtrar_exitencias_chubut(df_separado_2020)
resultado_existencias_2020_chubut

,anio,provincia,departamento,carneros,ovejas,borregos,capones,corderos_corderas,total_ovinos
0,2020,CHUBUT,CHUBUT,79860,1992008,669777,666432,576856,3984933
1,2020,CHUBUT,BIEDMA,3084,82806,29134,33727,25394,174145
2,2020,CHUBUT,CUSHAMEN,5385,124862,33570,28086,52545,244448
3,2020,CHUBUT,ESCALANTE,6310,98903,29646,37741,39590,212190
4,2020,CHUBUT,FLORENTINO AMEGHINO,7324,165006,57199,43199,45253,317981
5,2020,CHUBUT,FUTALEUFU,2044,65375,22621,12477,15472,117989
6,2020,CHUBUT,GAIMAN,5295,197372,27275,46137,42834,318913
7,2020,CHUBUT,GASTRE,4308,109233,42684,46336,33388,235949
8,2020,CHUBUT,LANGUIÃ‘EO,3968,107651,42621,37285,40238,231763
9,2020,CHUBUT,MARTIRES,4051,94735,33775,25100,23559,181220
10,2020,CHUBUT,PASO DE INDIOS,5587,135352,46140,56784,30279,274142
11,2020,CHUBUT,RAWSON,2273,74096,18058,19267,22102,135796
12,2020,CHUBUT,RIO SENGUERR,15609,360905,146961,123560,112227,759262
13,2020,CHUBUT,SARMIENTO,3681,99173,27021,32939,20498,183312
14,2020,CHUBUT,TEHUELCHES,8071,197382,87268,86893,54493,434107
15,2020,CHUBUT,TELSEN,2870,79157,25804,36901,18984,163716

Por último guardaremos estos datos en un archivo csv para trabajar con ellos más adelante.

In [73]:
resultado_existencias_2020_chubut.to_csv('datos_producidos/senasa/resultado_existencias_2020_chubut.csv', index=False)

##  Juntando datasets producidos de existencias

Se van a cargar los csv anteriormente producidos, para juntarlos en un solo archivo

In [74]:
anio_2008 = pd.read_csv('datos_producidos/senasa/resultado_existencias_2008_chubut.csv', sep=",")
anio_2009 = pd.read_csv('datos_producidos/senasa/resultado_existencias_2009_chubut.csv', sep=",")
anio_2010 = pd.read_csv('datos_producidos/senasa/resultado_existencias_2010_chubut.csv', sep=",")
anio_2011 = pd.read_csv('datos_producidos/senasa/resultado_existencias_2011_chubut.csv', sep=",")
anio_2012 = pd.read_csv('datos_producidos/senasa/resultado_existencias_2012_chubut.csv', sep=",")
anio_2013 = pd.read_csv('datos_producidos/senasa/resultado_existencias_2013_chubut.csv', sep=",")
anio_2014 = pd.read_csv('datos_producidos/senasa/resultado_existencias_2014_chubut.csv', sep=",")
anio_2015 = pd.read_csv('datos_producidos/senasa/resultado_existencias_2015_chubut.csv', sep=",")
anio_2016 = pd.read_csv('datos_producidos/senasa/resultado_existencias_2016_chubut.csv', sep=",")
anio_2017 = pd.read_csv('datos_producidos/senasa/resultado_existencias_2017_chubut.csv', sep=",")
anio_2018 = pd.read_csv('datos_producidos/senasa/resultado_existencias_2018_chubut.csv', sep=",")
anio_2019 = pd.read_csv('datos_producidos/senasa/resultado_existencias_2019_chubut.csv', sep=",")
anio_2020 = pd.read_csv('datos_producidos/senasa/resultado_existencias_2020_chubut.csv', sep=",")
existencias_chubut = pd.DataFrame()
existencias_chubut = pd.concat([anio_2008, anio_2009, anio_2010, anio_2011, anio_2012, anio_2013, anio_2014, anio_2015, anio_2016, anio_2017, anio_2018, anio_2019, anio_2020], ignore_index=True)
existencias_chubut

,anio,provincia,carneros,ovejas,borregos,capones,corderos_corderas,total_ovinos,departamento
0,2008,CHUBUT,135075,2160564,885807,931734,766298,4879478,CHUBUT
1,2008,CHUBUT,2256,44272,18756,20551,14559,100394,RAWSON
2,2008,CHUBUT,5292,112497,32493,33649,28886,212817,GAIMAN
3,2008,CHUBUT,13875,164382,79863,63856,48809,370785,FLORENTINO AMEGHINO
4,2008,CHUBUT,9253,153127,68968,65652,42389,339389,PASO DE INDIOS
...,...,...,...,...,...,...,...,...,...
205,2020,CHUBUT,2273,74096,18058,19267,22102,135796,RAWSON
206,2020,CHUBUT,15609,360905,146961,123560,112227,759262,RIO SENGUERR
207,2020,CHUBUT,3681,99173,27021,32939,20498,183312,SARMIENTO
208,2020,CHUBUT,8071,197382,87268,86893,54493,434107,TEHUELCHES
209,2020,CHUBUT,2870,79157,25804,36901,18984,163716,TELSEN

Se realizaran las siguientes correciones al nuevo dataset:
- El departamento Biedma esta mal escrito en algunas filas, dice "Viedma"
- El departamento Languiñeo esta mal escrito en todas las filas
- El "departamento" CHUBUT en realidad es el total provincial, se lo va reemplazar por TOTAL.

In [75]:
existencias_chubut.loc[existencias_chubut['departamento'] == 'VIEDMA', 'departamento'] = 'BIEDMA'
existencias_chubut.loc[existencias_chubut['departamento'] == 'LANGUI¥EO', 'departamento'] = 'LANGUIÑEO'
existencias_chubut.loc[existencias_chubut['departamento'] == 'CHUBUT', 'departamento'] = 'TOTAL'

Luego se ordenaran los datos por año, y luego por departamento.

In [76]:
existencias_chubut = existencias_chubut.sort_values(by=['anio','departamento'], ignore_index=True)
existencias_chubut

,anio,provincia,carneros,ovejas,borregos,capones,corderos_corderas,total_ovinos,departamento
0,2008,CHUBUT,7686,121561,58576,69633,33876,291332,BIEDMA
1,2008,CHUBUT,8180,149189,41669,51128,37589,287755,CUSHAMEN
2,2008,CHUBUT,7863,109225,35581,40786,41516,234971,ESCALANTE
3,2008,CHUBUT,13875,164382,79863,63856,48809,370785,FLORENTINO AMEGHINO
4,2008,CHUBUT,5639,90494,30119,24634,28237,179123,FUTALEUFU
...,...,...,...,...,...,...,...,...,...
205,2020,CHUBUT,15609,360905,146961,123560,112227,759262,RIO SENGUERR
206,2020,CHUBUT,3681,99173,27021,32939,20498,183312,SARMIENTO
207,2020,CHUBUT,8071,197382,87268,86893,54493,434107,TEHUELCHES
208,2020,CHUBUT,2870,79157,25804,36901,18984,163716,TELSEN
209,2020,CHUBUT,79860,1992008,669777,666432,576856,3984933,TOTAL

Una vez realizados los cambios, se guardara todo en un archivo csv.

In [77]:
existencias_chubut.to_csv('datos_producidos/existencias_chubut_2008_2020_SENASA.csv', index=False)